* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
header{
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.header-logo{
	float: left;
	height: 70px;
}
.nav{
	width: 1024px;
	height: 70px;
	margin:  0 auto;
}

.icon{
display: none;
}
.nav-list{
	font-size: 16px;
	color: #FAFAFA;
	text-align: center;
	float: right;
}
.nav-list-item{
	list-style: none;
	display: inline-block;
	padding: 20px 30px;
}
.main-visual{
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}
.main-visual-content{
	text-align: center;
	padding-top: 200px
}
.main-visual-name{
	font-size: 64px;
	color: #FAFAFA;
}
.main-visual-text{
	font-size: 20px;
	color: #FAFAFA;
	margin-top: 10px;
}
.main01, .main03{
	background-color: #ECEFF1;
	width: 100%;
}
.main-headline{
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	padding-bottom: 8px;
	text-align: center;
}
.main1{
	width: 920px;
	margin: 0 auto;
	padding-bottom: 90px;
}
.main2{
	width: 980px;
	margin: 0 auto;
	padding-bottom: 90px;
}
.main3{
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 90px;
}
.main4{
	width: 800px;
	margin: 0 auto;
	padding-bottom: 90px;
}
h2{
	font-size: 32px;
	color: #000000;
}
.border{
	border-bottom: 3px solid #EC715F;
	width: 70px;
	margin: 0 auto;
}
.Portfolio, .Feature, .Contact{
	text-align: center;
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}
.sub-headline-text{
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}
.feature-sub-headline{
	font-size: 20px;
	color: #000000;
	padding: 10px 0;
	text-align: center;
}
.strength-sub-headline-text{
	font-size: 16px;
	color: #000000;
	text-align: left;
	display: inline-block;
}
.Portfolio-image{
	width: 300px;
	height: 250px;
	margin: 5px 0;
}
.yohaku{
	margin-left:5px;
	margin-right:4px;
}
.Strength1{
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}
.Strength2{
	float: left;
	text-align: center;
	margin-right: 10px;
}
.Strength3{
	float: left;
	text-align: center;
}
.fa-size{
	font-size: 60px;
	margin: 0 auto;
}
.Profile{
	text-align: center;
	margin: 30px 0;
}
.Profile-image-text{
	width: 100%;
}
.image-box{
	float: left;
	width: 50%;
}
.myface{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	background-image: url(img/my-icon.jpg);
	border-radius: 400px;
}
.Profile-MyName-MySkills{
	float: right;
	width: 50%;
}
.Profile-image{
	width: 250px;
	height: 250px;
}
.Profile-sub-headline{
	font-size: 20px;
	color: #000000;
	text-align: left;
}
.profile-sub-headline-text{
	font-size: 16px;
	color: #000000;
	padding: 5px 0 8px 0;
}
.Contact{
	text-align: center;
	margin: 30px 0;
}
.Contact-sub-headline{
	font-size: 20px;
	color: #000000;
	padding-bottom: 5px;
}
.Mail-Tell-SNS{
	width: 100%;
}
.Mail-Tell{
	float: left;
	width: 40%;
	margin-left: 10%;
}
.Mail-text{
	padding-bottom: 20px;
}
.SNS{
	float: right;
	width: 40%;
	margin-left: 10%;
}
.fa-size1{
	font-size: 50px;
	margin-left: 20px;
}
footer{
	width: 100%;
	height: 60px;
	text-align: center;
	padding: 20px 0;
	background-color: #EC715F;
}
.footer-text{
	color: #FAFAFA;
}

@media screen and (max-width: 767px){
	*{
	padding: auto 5%;
	}
	.nav-list-item{
	display: none;
	}
	.icon{
	float: right;
	color: white;
	width: 40px;
	height: 40px;
	border: 1px solid white;
	margin-top: 4px;
	margin-right: 10px;
	}
	.icon i{
	font-size: 30px;
	text-align: center;
	line-height: 38px;
	margin:0;
	margin-left: 6px;

	}
	header{
	height: 50px;
	}
	.nav{
	width: 100%;
	}
	.header-logo{
	height: 50px;
	margin-left: 10px;
	}
	.hamburger{
	border: solid 1px white;
	padding: 8px;
	margin: 3px 8px 3px 0px;
	float: right;
	}
	.hamburger1, .hamburger2, .hamburger3{
	border-bottom: solid 2px white;
	width: 22px;
	margin: 5px 4px;
	}
	.main1, .main2, .main3, .main4{
	width: 100%;
	}
	.main-visual{
	height: 750px;
	background-image: url(img/code.png);
	}
	.main-visual-name{
	font-size: 40px;
	color: #FAFAFA;
	}
	.main-visual-text{
	font-size: 18px;
	margin-top: 10px;
	}
	.Portfolio, .Feature, .Contact{
	width: 90%;
	margin: 0 auto;
	word-wrap: break-word;
	}
	.Portfolio-image{
	margin: 10px auto;
	}
	img, .image-box{
	display: block;
	}
	.pc{
	display: none;
	}
	.Strength1, .Strength2, .Strength3{
	margin: 10px auto;
	float: none;
	}
	.Profile{
	width: 90%;
	margin: 30px auto;
	}
	.Profile-MyName-MySkills{
	text-align: center;
	width: 100%;
	}
	.Profile-sub-headline{
	text-align: center;
	margin: 20px auto 0 auto;
	padding: 0 0 0 0;
	}
	.profile-sub-headline-text{
	width: 90%;
	margin: 0 auto;
	padding: 5px 0 0 0;
	}
	.image-box, .Profile-MyName-MySkills{
	float: none;
	}
	.image-box{
	width: 100%;
	}
	.fa-size1{
	margin-left: 8px;
	margin-bottom: 90PX;
	}
	.Mail-Tell{
	text-align: center;
	width: 80%;
    }
    .SNS{
    text-align: center;
    width: 100%;
    }
	.Mail-text, .Tell-text{
	padding-bottom: 20px;
    }
}
